<!doctype html>
<html>

{% load macros %}
{% macro title %}{% block title %}{% endblock %}{% endmacro %}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% usemacro title %} - TEST</title>
	<link rel="stylesheet" href="/static/css/foundation.min.css" />
	<link rel="stylesheet" href="/static/css/base.css">
	<script src="/static/js/vendor/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/js/foundation.min.js"></script>
	<script src="/static/js/foundation/foundation.topbar.js"></script>
</head>

<body>

<div class="row">
	
	<div id="title" class="small-12 columns">
		<h1>{% usemacro title %}</h1>
	</div>
	
	<article id="content" class="small-12 medium-8 columns">
		{% block content %}{% endblock %}
	</article>
	
</div>

<script>$(document).foundation();</script>

</body>

</html>
